<h2 mat-dialog-title>{{title}}</h2>

<form [formGroup]="classeForm" (ngSubmit)="onSubmit()">
  <div class="form">
    <mat-form-field appearance="outline">
      <mat-label>identifiant</mat-label>
      <input matInput formControlName="id" readonly />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>name</mat-label>
      <input matInput formControlName="name" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>role1</mat-label>
      <mat-select formControlName="role1">
        <mat-option *ngFor="let role1 of roles" [value]="role1">
          {{role1}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>role2</mat-label>
      <mat-select formControlName="role2">
        <mat-option *ngFor="let role2 of roles" [value]="role2">
          {{role2}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>role3</mat-label>
            <mat-select formControlName="role3">
        <mat-option *ngFor="let role3 of roles" [value]="role3">
          {{role3}}
        </mat-option>
      </mat-select>
    </mat-form-field>

  </div>


  <mat-dialog-actions align="end">
    <button mat-button type="button" mat-dialog-close>Annuler</button>
    <button mat-raised-button type="submit" cdkFocusInitial color="warn" [disabled]="!classeForm.valid || !classeForm.dirty">{{submitBtnName}}</button>
  </mat-dialog-actions>
</form>
